<div class="row">
  <div *ngIf="user$ | async as user" class="col-6 offset-3 mt-3">
    <h2>Update / Create User</h2>
    <form #userForm="ngForm">
      <input name="id" type="hidden" [(ngModel)]="user.id">
      <div class="form-group">
        <label>Name</label>
        <!-- Validation: min 8 char, max 40 char, required -->
        <input
        class="form-control"
        type="text"
        name="name"
        [(ngModel)]="user.name"
        pattern=".{8,40}"
        required
        #userName="ngModel">
        <small [hidden]="userName.valid" id="nameHelp" class="form-text text-muted">Az név kitöltése kötelező, min. 8, max. 40 karakterrel.</small>
      </div>
      <div class="form-group">
        <label>Email</label>
        <!-- Validation: valid email, required.
          Help: https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript -->
          <input
          class="form-control"
          type="text"
          name="email"
          [(ngModel)]="user.email"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b"
          required
          #userEmail="ngModel">
          <small [hidden]="userEmail.valid" id="emailHelp" class="form-text text-muted">Az e-mail kitöltése kötelező, valid e-mail címmel.</small>
        </div>
        <div class="form-group">
          <label>Address</label>
          <!-- Validation: min 8 char, max 100 char, required -->
          <input
          class="form-control"
          type="text"
          name="address"
          [(ngModel)]="user.address"
          pattern=".{8,100}"
          required
          #userAddress="ngModel">
          <small [hidden]="userAddress.valid" id="addressHelp" class="form-text text-muted">Az cím kitöltése kötelező, min. 8, max. 100 karakterrel.</small>
      </div>
      <div class="form-group">
        <label>Active</label>
        <!-- No validation. -->
        <select [(ngModel)]="user.active" name="active" class="form-control">
          <option [ngValue]="true">active</option>
          <option [ngValue]="false">inactive</option>
        </select>
      </div>
      <button (click)="onUpdate(user)" type="submit" class="btn btn-primary btn-block mt-5">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
